*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(../image/fon10.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;

    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6 */
    background-size: cover;

    margin: 0;
    padding-top: 13%;
    box-sizing: border-box;
}

p{
    color: white;
    text-align: center;
    font-size: 5em;
    font-family: Geogrotesque;    
    
}

a{
    text-decoration: none;
}

.back{
    outline: none;
    font-size: 2em;
    padding-top: 3%;
    font-family: Geogrotesque;   
    text-decoration: none;
    background-image: linear-gradient(#df1ae6,#df1ae6);
    background-repeat: no-repeat;
    background-position: 0% 100%;
    background-size: 0% 2px;
    transition: background-size .3s;
}

.back:hover{
    background-size: 100% 2px;   
}